node_modules
.env
server/secure/.env
server/vercel.json
server/node_modules
client/vercel.json
client/vercel.json
client/.env
client/render.yaml
client/eslint.config.js
client/node_modules
client/public

